html {
  font-family:"Metal Mania";
  background-color: black;
}

a {
  color:black;
  transition: all .2s ease-in-out;
}

a:link {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

nav > ul > li > a:hover {
  font-size: 130%;
}

nav > ul > li > a.active {
  background-color: black;
  color: #CA0900;
}

a:active {
  text-decoration:underline;
}

i {
  font-weight:bold;
  color: #CFC5E8;
}

li {
  list-style-type: none;
}

nav {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #CA0900;
}

nav > ul {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

body {
  padding-top: 5%;
  padding-bottom: 6.65%;
  color: #eeeeee;
}

#title {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-style: oblique;
  font-size: 150%;
  color: white;
}

h1 {
  margin-bottom: -.665%;
}

img {
  border: 2px solid #CA0900;
}

iframe {
  border: 2px solid #CA0900;
}

#thumbnail {
  height: 350px;
  width: 350px;
  margin:10px 0px;
}

#band {
  height: auto;
  width: 80%;
}

#photolabel {
  font-size: 10px;
}

#member {
  margin-top: 20px;
  height: auto;
  width: 75%;
}

#content {
  display:flex;
  flex-direction:column;
  letter-spacing: 1px;
  text-align:center;
}

#rowlist {
  display:flex;
  flex-direction:row;
  flex:1;
  justify-content:center;
  margin-right: 2.5%;
}

#rowlist > li {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  width: 33.25%;
  padding: 0px 0px;
  font-size: 20px;
}

#album {
  margin: .8645% 0px 0px 0px;
}

#concert > p{
  font-size: 120%;
}

#footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #CA0900;
}

#footer > h6 {
  padding:0px 1.33%;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  nav {
    font-size: 10px;
    text-align: center;
  }

  nav > ul {
    align-items:center;
  }

  nav > ul {
    margin-left: -5%;
    margin-right: 2%;
  }

  nav > ul > li {
    margin: 0px 1%;
  }
  
  body {
    margin-right: 7.5%;
    margin-bottom: 20%;
  }
  
  #title {
    margin-right: -3%;
    margin-top: 7.5%;
    text-align: center;
  }
  
  #subtitle {
    margin-right: -3%;
  }

  #thumbnail {
    height: auto;
    width: 75%;
    margin:10px 0px;
  }
  
  #rowlist {
    display:flex;
    flex-direction:column;
    flex:1;
    justify-content:center;
    align-items: center;
    margin-right: 3%;
  }
  
  #rowlist > li {
    margin: 5% 0px;
    width: 75%;
  }
  
  #thumbnail {
    margin-top: 10%;
  }
  
  #footer {
    position: fixed;
    font-size: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #CA0900;
  }
  
  #footer > h6 {
    margin-left: 15%;
    font-size: 8px;
  }
}