html {
  font-family:"Metal Mania";
}


a {
  color:black;
}

a:link {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a:active {
  text-decoration:underline;
}

i {
  font-weight:bold;
}

li {
  list-style-type: none;
}

nav {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #A90900;
}

nav > ul {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
}

#title {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#thumbnail {
  width: 350px;
  height: 350px;
  margin:10px 0px;
}

#content {
  display:flex;
  flex-direction:column;
  letter-spacing: 1px;
  text-align:center;
}

#rowlist {
  display:flex;
  flex-direction:row;
  flex:1;
  justify-content:center;
  margin-right:40px;
}

#rowlist > li {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  width:500px;
  padding: 0px 10px;
}

#album {
  margin: 13px 0px 0px 0px;
}

#concert > p{
  font-size:35px;
}

#footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #A90900;
}

#footer > h6 {
  padding:0px 20px;
  font-size: 12px;
}
